name: "Dry-run on PRs"

on: 
  pull_request:
  push:
    branches-ignore:
      - main

env:
  IMAGE_NAME: "simaofsilva/openjdk11-alpine"
  TAG: "test"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          load: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.TAG }}

      - name: Test image
        run: |
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.TAG }} java -version
